:root {
    --Black: #2A2D36;
    --LightRose: #F4DDCB;
    --DarkRose: #927773;
    --Rose: #da8980;
    --Title: 'Limelight', cursive;
    --Paragraf: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

h1 {
    font-family: var(--Title);
    font-size: 2rem;
    color: var(--Black);
}

h2 {
    font-family: var(--Title);
    font-size: 2rem;
    margin-block-end: 2em;
    color: var(--Black);
}

pre {
    font-family: var(--Title);
    font-size: 10vw;
    color: var(--Black);
    margin: 0px;
}

p,
h3 {
    font-size: 1rem;
    font-family: var(--Paragraf);
    font-weight: 400;
    text-align: justify;
    line-height: 1.5;
    color: var(--Black);
}

h4 {
    font-size: 0.7rem;
    font-family: var(--Paragraf);
    font-weight: normal;
    text-align: center;

    color: white;

}


section {
    display: flex;
    flex-flow: row wrap;
    margin-block-start: 4em;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    width: 100%;
  
}






.secc-izquierda,
.secc-derecha {
    width: 40%;
    flex-shrink: 1;
}

.d-flex-between {
    display: flex;
    justify-content: end;
}

.numero {
    padding: 10px 22px 0px 22px;
    text-align: center;
}

.sub-section {
    margin-block-start: 0em;
}



.video-section {
    background-color: black;
    height: 100vh;
    margin-block-start: 7.5em;
}

.video {
    width: 100%;
}


.frase {
    margin-block-start: 2em;
    margin-block-end: 10em;
    font-size: 2rem;
    font-family: var(--Paragraf);
    text-align: center;
}

#Frase-section {
    background-image: url("../Photos/FraseFondo.gif");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    background-position-y: top;
    margin-block-start: 10em;
}



#Pregunt-section {
    flex-direction: column;
    align-items: stretch;
}

.collapsible {
    color: var(--Black);
    cursor: pointer;
    background-color: white;
    border: none;
    border-bottom: 1.5px solid var(--Black);
    text-align: left;
    width: 87%;

    outline: none;
    font-size: 1rem;
    font-family: var(--Paragraf);
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-block-start: 2.3em;
}

.content {
    padding: 0 22px;
    max-height: 0px;
    transition: max-height 0.5s ease;
    overflow: hidden;
    font-weight: lighter;
    background-color: white;
    width: 70%;
}

.open{
    max-height: 260px;
    transition: max-height 0.5s ease;
}

.collapsible:after {
    content: '\002B';
    color: var(--Rose);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0 0 0;
    background-color: var(--LightRose);
}

nav {
    padding: 20px 0px 0 0;
}

#logo {
    height: 50px;
    width: 50px;
    padding-left: 1.5rem;
}

a {
    font-family: var(--Paragraf);
    color: var(--Black);
    text-decoration: none;
    padding-right: 1.4rem;
    padding-left: 1rem;
    text-shadow: 2px 2px white;
}

#proceso {
    background-color: var(--DarkRose);
    color: white;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 4px 4px 4px var(--Black);
    border-radius: 5px;

}

a:hover {
    color: white;
    text-shadow: none;
}

#proceso:hover {
    color: var(--Black);
    text-shadow: none;

}

.Fondo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    flex-shrink: 1;
    width: 100%;
    position: relative;
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 40px;
}

.Fondo img {
    height: 33vw;
    margin-bottom: 20px;
}

#Fondo1 {
    height: 85vh;
}

#Fondo2 {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.Fondo1 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.button {
    width: 110px;
    display: flex;
    height: 45px;
    background-color: var(--DarkRose);
    color: white;
    align-items: center;
    font-family: var(--Paragraf);
    font-size: 1rem;
    border-radius: 6px;
    margin-left: 11px;
    text-shadow: none !important;
}

.button:hover {
    color: var(--Black);
    text-shadow: none;
}

.active:after {
    content: "\2212";
    display: block;
    color: var(--Rose);
}

footer {
    background-color: var(--Black);
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-top: 50px;
}


.mobile-menu {
    display: none;
}

.mobile-div {
    max-height: 0px;
    display: none;
    transition: max-height 0.5s ease;
}


.title-rute-r {
    width: 40%;
}

.title-rute-l {
    width: 40%;
    margin: 5rem 0px 0px 0px;
}

#menu-botton{
    cursor: pointer;
}

@media only screen and (max-width: 700px) {

    .title-rute-r {
        display: none;
    }


    .title-rute-l {
        width: 100%;
        text-align: center;
    }


    .section-back {
        position: absolute;
        z-index: -1;
        width: 60%;
        opacity: 0.5;
    }

    .section-front {
        width: 100%;
        padding: 5rem 2rem;
    }

    .title-rute {
        text-align: center;
    }

    .mobile-div.active {
        position: absolute;
        display: flex;
        max-height: 410px;
        transition: max-height 0.5s ease;
        background: #f4ddcb;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    nav {
        display: none;
    }

    .mobile-menu {
        display: inline;
    }

    .frase {
        font-size: 1.3rem;
    }

    #Frase-section {
        background-size: 70%;
    }

}


@media only screen and (max-width: 500px) {

    .button {
        width: fit-content;
        padding: 0px 0.8rem;
        height: 34px;
        font-size: 0.7rem;
        margin-left: 5px;
    }
    .Fondo img {
        height: 70vw;
    }
    .header-top {
        margin-bottom: 2rem;

    }
    #logo {
        padding-left: 0em;
    }

    .header-top {
        padding: 0px 22px;
    }

    .section-back {
        width: 80%;

    }

    #Frase-section {
        background-size: 80%;
    }

    .frase {
        font-size: 1rem;
        padding: 0rem 1rem;
    }

    p,
    h3 {
        font-size: 0.9rem
    }

    h2 {
        font-size: 1.4rem;
    }

    .collapsible {
        font-size: 0.9rem;
    }

    #Acerca-de {

        margin-top: 5rem;
    }

    #Pregunt-section{
        margin-top: 5rem;
        text-align: center;

    }

    .secc-izquierda h2{
        text-align: center;

    }
header{
    padding: 20px 0 35px 0;
}
}


@media only screen and (max-width: 400px) {

    #Frase-section {
        background-size: 90%;
    }

    .frase {
        font-size: 0.8rem;
        padding: 0rem 1rem;
    }

    .mobile-menu svg{
        width: 20px;
    }

    #logo{
        width: 30px;
        height: 30px;
        align-self: center;
    }

    .section-back {
        width: 90%;
        margin: auto;

    }

    section {
        margin-block-start: 0em;
    }

    p,
    h3 {
        font-size: 0.8rem
    }

    h2 {
        font-size: 1.3rem;
    }

    .collapsible {
        font-size: 0.8rem;
    }


}